<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>VM ANDRADE Trucking</h1>
    </header>

    <section>
      <h2>About us</h2>
      <p>
        We are a stable and farm cleaning company. With years of
        experience in the industry, we are proud to offer services
        reliable to our clients.
      </p>

      <h2>Address</h2>
      <p>751 W Linn Pt. San Jacinto, CA 92582. United States</p>

      <h2>Phone number</h2>
      <p>(626) 931-0374</p>

      <h2>Email</h2>
      <p>You can contact us by email: <a href="mailto:vmandradetrucking@gmail.com">vmandradetrucking&#64;gmail.com</a></p>
    </section>

    <section>
      <h2>Comments</h2>
      <p>¡We would love to hear your comments! Let us know how we can improve our services.</p>

      <!-- Formulario de envío de mensajes por correo electrónico -->
      <form action="procesar_formulario.php" method="post">
          <label for="mensaje">Message:</label>
          <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

          <input type="submit" value="Send message">
      </form>
  </section>

    <footer>
      <p>&copy; 2024 VM ANDRADE Trucking. All rights reserved.</p>
    </footer>
  </body>
</html>
