body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/necesitas-construir-un-establo-1920.jpg"); /* Reemplaza 'ruta_de_la_imagen.jpg' con la URL o la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000; /* Ajusta el color del texto según la visibilidad con la imagen de fondo */
}

header {
    background-color: #398a07;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mejorar la legibilidad del contenido */
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
}

form label, form textarea, form input {
    margin-bottom: 10px;
}